@model List<Voluntario>

@{
    ViewData["Title"] = "Listagem de Voluntários";
    int FiltroPorPag = Int32.Parse(ViewData["voluntariosPorPagina"].ToString());
    int PaginaAtual = Int32.Parse(ViewData["PaginaAtual"].ToString());
    int NumVoluntariosPorPag = (Model.Count < FiltroPorPag ? Model.Count : FiltroPorPag);
    int NumTotaldePag = Model.Count / NumVoluntariosPorPag + (Model.Count % NumVoluntariosPorPag == 0 ? 0 : 1);
}
<br>
<div class="titulo">
    <h4>Lista de Voluntários</h4>
</div>

<center>
    <img src="/imagens/somos.jpg" alt="caes e gatos">
</center>

<div class="row">
    <div class="col-md-12">
        <form class="form-inline" method="POST">
            <div class="form-group mb-2">
                <select name="TipoFiltro" class="form-control">
                    <option value="Nome">Nome</option>
                    <option value="Sexo">Sexo</option>
                </select>
            </div>
            <div class="form-group mb-2 mx-sm-3">
                <input type="text" placeholder="Filtro" name="Filtro" class="form-control" />
            </div>

            <div>
                <select name="itensPorPagina" id="itensPorPagina">
                    <option value="05">05 Voluntários</option>
                    <option value="10">10 Voluntários</option>
                    <option value="15">15 Voluntários</option>
                    <option value="20">20 Voluntários</option>
                    <option value="@Model.Count">Todos</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>

            <div id="SeletorPaginas">
            <span>Página:</span>
            @for (int i=1; i<=NumTotaldePag; i++)
            {
                <span><a href="/Voluntario/Listagem?PaginaAtual=@i">@i / </a></span>
            }
        </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @if (Model.Count != 0)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Nome</td>
                        <td>E-mail</td>
                        <td>Telefone</td>
                        <td>Data de Nascimento</td>
                        <td>Sexo</td>
                        <td>Operações</td>
                    </tr>
                </thead>

                <tbody>
                    @for (int i = (PaginaAtual-1)*NumVoluntariosPorPag; i<(NumVoluntariosPorPag*PaginaAtual<Model.Count?NumVoluntariosPorPag*PaginaAtual:Model.Count);i++)
                    {
                        <tr>
                            <td>@Model[i].Id</td>
                            <td>@Model[i].Nome</td>
                            <td>@Model[i].Email</td>
                            <td>@Model[i].Telefone</td>
                            <td>@Model[i].DataNascimento.ToShortDateString()</td>
                            <td>@Model[i].Sexo</td>
                            <td><a class="font-weight-bold link-primary" href="/Voluntario/Editar?Id=@Model[i].Id">Alterar</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Nenhum registro encontrado!</p>
        }
    </div>
</div>