@model List<Adocao>

@{
    ViewData["Title"] = "Listagem de Adoção";
    int FiltroPorPag = Int32.Parse(ViewData["adocoesPorPagina"].ToString());
    int PaginaAtual = Int32.Parse(ViewData["PaginaAtual"].ToString());
    int NumAdocoesPorPag = (Model.Count<FiltroPorPag ? Model.Count : FiltroPorPag);
    int NumTotaldePag = Model.Count/NumAdocoesPorPag + (Model.Count%NumAdocoesPorPag==0 ? 0 : 1);
}
<br>
<div class="titulo">
    <h4>Lista de Adoção</h4>
</div>

<center>
    <img src="/imagens/somos.jpg" alt="caes e gatos">
</center>

<div class="row">
    <div class="col-md-12">
    <form class="form-inline" method="POST">
        <div class="form-group mb-2">
            <select name="TipoFiltro" class="form-control">
                <option value="Nome">Nome</option>
                <option value="Animal">Animal</option>
            </select>
        </div>
        <div class="form-group mb-2 mx-sm-3">
            <input type="text" placeholder="Filtro" name="Filtro" class="form-control" />
        </div>
        
        <div>
            <select name="itensPorPagina" id="itensPorPagina">
                <option value="05">05 Adoções</option>
                <option value="10">10 Adoções</option>
                <option value="15">15 Adoções</option>
                <option value="20">20 Adoções</option>
                <option value="@Model.Count">Todas</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>

        <div id="SeletorPaginas">
            <span>Página:</span>
            @for (int i=1; i<=NumTotaldePag; i++)
            {
                <span><a href="/Adocao/Listagem?PaginaAtual=@i">@i / </a></span>
            }
        </div>
    </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @if (Model.Count != 0)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Nome</td>
                        <td>E-mail</td>
                        <td>Telefone</td>
                        <td>Data de Nascimento</td>
                        <td>Endereço</td>
                        <td>Cidade</td>
                        <td>Estado</td>
                        <td>CEP</td>
                        <td>Animal</td>
                        <td>Operações</td>
                    </tr>
                </thead>

                <tbody>
                    @for (int i = (PaginaAtual-1)*NumAdocoesPorPag; i<(NumAdocoesPorPag*PaginaAtual<Model.Count?NumAdocoesPorPag*PaginaAtual:Model.Count);i++)
                    {
                    <tr>
                        <td>@Model[i].Id</td>
                        <td>@Model[i].Nome</td>
                        <td>@Model[i].Email</td>
                        <td>@Model[i].Telefone</td>
                        <td>@Model[i].DataNascimento</td>
                        <td>@Model[i].Endereco</td>
                        <td>@Model[i].Cidade</td>
                        <td>@Model[i].Estado</td>
                        <td>@Model[i].Cep</td>
                        <td>@Model[i].Animal</td>
                        <td><a class="font-weight-bold link-primary" href="/Adocao/Editar/@Model[i].Id">Alterar</a> |
                            <a class="font-weight-bold link-primary" href="/Adocao/Remover/@Model[i].Id">Remover</a></td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        else
            {
                <p>Nenhum registro encontrado.</p>
            }
    </div>
</div>